<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body, html{
    width: 100%; 
    height: auto;
  }
</style>


<div class="content">

  <h1>NgxMatFile</h1><br>
  <h2>Template Driven Form Example</h2><br>

  <form  #f="ngForm" class="form-group">
  <div>
    <div class="checks">
      <mat-checkbox color="primary" [(ngModel)]="preview" name="preview">Preview</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="hiddenUpload" name="hiddenUpload">Hide upload button</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="required" name="required">Required</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="multiple" name="multiple">Multiple</mat-checkbox>
    </div>
    <div class="inputs">
      <mat-form-field appearance="legacy">
        <mat-label for="accept">Accept</mat-label>
        <input matInput required type="text" name="accept" id="accept" [(ngModel)]="valueAccept">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label for="previewWidth">Preview Width</mat-label>
        <input matInput type="number" name="previewWidth" id="previewWidth" [(ngModel)]="previewWidth">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label for="minFileCount">Min. number of files</mat-label>
        <input matInput type="number" name="minFileCount" id="minFileCount" [(ngModel)]="minFileCount" min="0">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label for="maxFileCount">Max. number of files</mat-label>
        <input matInput type="number" name="maxFileCount" id="maxFileCount" [(ngModel)]="maxFileCount" min="1">
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label for="maxFileSize">Max. file size (MB)</mat-label>
        <input matInput type="number" name="maxFileSize" id="maxFileSize" [(ngModel)]="maxFileSize" min="1">
      </mat-form-field>
    
      <mat-form-field appearance="legacy">
        <mat-label>Button variant</mat-label>
        <mat-select required [(ngModel)]="variant" name="variant">
          <mat-option *ngFor="let item of variants" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
     
    </div>
  </div>
  <div >
    <mat-form-field appearance="outline"  style="width: 100%; margin: 0 auto;">
      <ngx-mat-file
        [required]=required
        [accept]=valueAccept
        [multiple]=multiple
        [preview]=preview
        [hiddenUpload]=hiddenUpload
        [previewWidth]=previewWidth
        [buttonVariant]=variant
        [minlength]="minFileCount"
        [maxlength]="maxFileCount"
        [maxFileSize]="maxFileSize"
        (onUploadClick)="upload(files)"
        [(ngModel)]="files"
        name="fileInput">
      </ngx-mat-file>
    </mat-form-field>
  </div>   
  </form>
 
</div>
<br><hr><br>
<div class="content">

  <h2>Reactive Form Example</h2>

  <mat-stepper #stepper 
  [linear]="false" orientation="horizontal">
    <mat-step [stepControl]="firstFormGroup" errorMessage="Error message">
      <form [formGroup]="firstFormGroup"  style="min-height: 350px;">
        <ng-template matStepLabel>Pick some photos</ng-template>

        <mat-form-field appearance="outline"
        style="width: 100%; margin: 0 auto;">
          <ngx-mat-file
            [required]="true"
            accept="image/*"
            [minlength]="2" 
            [maxlength]="3"
            [multiple]="true"
            [preview]="true"
            [hiddenUpload]="true"
            previewWidth=100
            buttonVariant="mat-stroked-button"
            formControlName="files">
          </ngx-mat-file>
        </mat-form-field>

        
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Title is required.">
      <form [formGroup]="secondFormGroup"  style="width: 33%; min-height: 350px; display: flex; flex-direction: column;">
        <ng-template matStepLabel>Photo album title</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput  formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Desctiption</mat-label>
          <textarea matInput placeholder="Lorem Ipsum" formControlName="description"></textarea>
        </mat-form-field>
        
        
      </form>
      <div>
          <p>Go to a different step to see the error state</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step><form action="" style="min-height: 350px;">
      <ng-template matStepLabel>Done</ng-template>
      
        
      
      <p>You are now done.</p>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>



</div>


  
  


  

