.content{
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}
.form-group{
  display: flex;
  flex-direction: column;
  
}
.form-group>div:first-child{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.checks{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.mat-form-field{
  margin: 0 1rem;
}
#stepper form{
  min-height: 300px;
}
